# Ignore node_modules in all folders
**/node_modules/

# Ignore Next.js build output
**/.next/

# Ignore environment variable files
**/.env*
!.env.example

# OS and editor junk
.DS_Store
*.log

# Ignore lock files if you're not using them consistently
# Uncomment one if you're using npm or yarn
# package-lock.json
# yarn.lock
# Ignore build artifacts
**/dist/